<h1>Hello Recruiters and Hiring Managers!</h1>
<p>Welcome to my movie watchlist REST API, built with:</p>
<ul>
  <li>ASP.NET Core, Entity Framework Core and C# for server-side code</li>
  <li>PostgreSQL for the database</li>
  <li>Angular and Typescript for client-side code</li>
  <li>Bootstrap for responsive styling</li>
</ul>
<p>Feel free to click the Movies API link in the navbar above to test out the features of this app!</p>
<p>You can check out my resume or LinkedIn profile using the links above, or you can email me at:</p>
<strong>jamestbauc@gmail.com</strong>