<h1 id="tableLabel">Movie List</h1>

<p>This component demonstrates fetching data from the API.</p>

<p *ngIf="!movies"><em>Loading...</em></p>

<div class="container">
  <button class="btn btn-primary" [routerLink]="['/add-movie']">Add Movie</button>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="movies">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Have Watched</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of movies">
      <td>{{ m.id }}</td>
      <td>{{ m.name }}</td>
      <td>
        <input type="checkbox" [(ngModel)]="m.haveWatched" [checked]="m.haveWatched" (change)="updateWatched(m)" />
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteMovie(m)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>